.button {
  border: none;
  outline: none;
  color: rgba(0, 0, 0, 0.3);
  font-size: 0.8em;
  padding: 1em;
}

.button:hover {
  color: rgba(0, 0, 0, 1);
}

.button.active {
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
}